.bioWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.imageContainer {
    background-color: red;
}

.bioTextContainer {
    display: flex;
    flex-direction: row;
    
}