@keyframes contentAppear {
    from {
        transform: scale(1, 0);
    }
    to {
      transform: scale(1, 1);
    }
  }

  @keyframes contentDisappear {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1, 0);
        display:none;
    }
  }

.contentBlockWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
}

.header {
    display: flex;
    background-color: darkmagenta;
    border-radius: 5px;
    padding:5px;
    margin: 5px 0 5px 0;
    min-height: 50px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color: white;
}

.header:hover {
    background-color: darkviolet;
}

.header:active {
    background-color: darkorchid;
}

.contentDisappear {
    border: 3px solid lightgrey;
    border-radius: 5px;
    animation-name: contentDisappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-origin: top;
    max-height: auto;
}

.contentAppear {
    border: 3px solid lightgrey;
    border-radius: 5px;
    background: white;
    /* animation-name: contentAppear;
    animation-duration: 0.75s;
    transform-origin: top; */
    max-height: auto;
}